* {
    box-sizing: border-box;
  }

    body {
        font: 71%/1.5 Verdana, Sans-Serif;
        background: #eee;
        }
    
    #container {
    margin: 0 auto;
    width: 80%;
    max-width: 700px;
    

    }
    #write {
        width: 100%;
        max-width: 700px;
    margin: 0;
    padding: 5px;
    height: 200px;
    font: 1em/1.5 Verdana, Sans-Serif;
    background: #fff;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }
    #keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
    }
        #keyboard li {
        float: left;
        margin: 0 5px 5px 0;
        width: 7.5%;
        height: auto;
        line-height: 3em;
        text-align: center;
        background: #fff;
        border: 1px solid #f9f9f9;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        }
            .capslock, .shift {
            clear: left;
            }
                #keyboard .tab, #keyboard .backspace {
                width: 16.5%;
                   height:auto;
                   float: inline-end;
                   clear: right;
                    
                }
                #keyboard .capslock, #keyboard .submit {
                width: 25%;
                float: inline-end;
                clear: right;
                }
                #keyboard .enter {
                width: 16.5%;
                float: inline-end;
             
                }
                #keyboard .shift {
                width:  25%;
                float: inline-end;
                }
             
            .lastitem {
            margin-right: 0;
            clear: none;
            }
            .uppercase {
            text-transform: uppercase;
            }
            #keyboard .space {
            width: 73%;
            clear: right;
            }
           
            #keyboard li:hover {
            position: relative;
            top: 1px;
            left: 1px;
            border-color: #e5e5e5;
            cursor: pointer;
            }

            @media only screen and (max-width: 600px) {
                #keyboard li {
                    float: left;
                    margin: 0 2px 2px 0;
                    width: 7.2%;
                    height: auto;
                    line-height: 2em;
                    text-align: center;
                    background: #fff;
                    border: 1px solid #f9f9f9;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    }
                    #keyboard .backspace {
                        width: 21%;
                           height:auto;
                           float: inline-end;
                           clear: right;
                            
                        }
                        #keyboard .capslock {
                        width: 29%;
                        float: inline-end;
                        clear: right;
                        }
                        #keyboard .enter {
                        width: 21%;
                        float: inline-end;
                     
                        }
                        #keyboard .shift {
                        width:  29%;
                        float: inline-end;
                        }
                     
                    .lastitem {
                    margin-right: 0;
                    clear: none;
                    }
                    .uppercase {
                    text-transform: uppercase;
                    }
                    #keyboard .space {
                    width: 73%;
                    clear: right;
                    }

            }            